Indexing using Pandas - Selecting a set of data

In [112]:
import pandas as pd

In [114]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [116]:
data['b']

0.5

In [118]:
data.keys() #We can also use dictionary-like Python expressions and methods to examine the keys/indices and values

Index(['a', 'b', 'c', 'd'], dtype='object')

In [120]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [122]:
data['e'] = 1.25 #you can extend a `Series` by assigning to a new index value

In [124]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Series as 1-D array

In [126]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [24]:
data['a':'c']    #slicing by explicit key index

a    0.25
b    0.50
c    0.75
dtype: float64

In [26]:
data[0:2]  # slicing by implicit integer index

a    0.25
b    0.50
dtype: float64

In [28]:
data[(data > 0.3) & (data < 0.8)]  #masking by value

b    0.50
c    0.75
dtype: float64

In [128]:
data[['a', 'e']]  # fancy indexing - indexing separate key

a    0.25
e    1.25
dtype: float64

In [130]:
#If your `Series` has an explicit integer index, an indexing operation such as `data[1]` will use the explicit indices, 

#while a slicing operation like `data[1:3]` will use the implicit Python-style indices

In [160]:
data = pd.Series(['a', 'b', 'c','d'], index=[1, 3, 5, 4]) # by postion - index [0th, 1st, 2nd, and 3rd position]
data

1    a
3    b
5    c
4    d
dtype: object

In [162]:
# explicit index when indexing - final value is included
data[1]

'a'

In [164]:
data[5]

'c'

In [166]:
# implicit index when slicing - final value is not included
data[1:3]

3    b
5    c
dtype: object

In [168]:
data[0:2]

1    a
3    b
dtype: object

In [170]:
data = pd.Series(['a', 'b', 'c','d'], index=[1, 3, 5, 8])
data

1    a
3    b
5    c
8    d
dtype: object

In [172]:
data.loc[1]

'a'

In [174]:
data.loc[3]

'b'

In [176]:
data.loc[5]

'c'

In [178]:
data.loc[8]

'd'

In [198]:
data.loc[1:9]

1    a
3    b
5    c
8    d
dtype: object

In [200]:
data.iloc[1] #The iloc attribute allows indexing and slicing that always references the implicit Python-style index

'b'

In [202]:
data.iloc[1:4]

3    b
5    c
8    d
dtype: object

In [208]:
data = pd.Series(['akhilk', 'bunny', 'cloye','dev'], index=[150, 170, 160, 180])
data

150    akhilk
170     bunny
160     cloye
180       dev
dtype: object

In [212]:
data.loc[150]

'akhilk'

In [214]:
data.loc[160]

'cloye'

In [218]:
data.loc[150:160]

150    akhilk
170     bunny
160     cloye
dtype: object

In [224]:
data.loc[150:180]

150    akhilk
170     bunny
160     cloye
180       dev
dtype: object

In [226]:
data.iloc[1]

'bunny'

In [230]:
data.iloc[1:3]

170    bunny
160    cloye
dtype: object

Data Frame

In [232]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})

In [234]:
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [236]:
#The individual Series that make up the columns of the DataFrame can be accessed via dictionary-style indexing of the column name

data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [238]:
data.area # attribute type

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [240]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

dataframe as array

In [100]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [102]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [104]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [106]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [108]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [242]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121