# Installation and Test of PySpark

__Author: Umair ul Hassan__

> Note: Your Python version must be between 3.9-3.11 to work with PySpark; otherwise, you will recieve errors. 

In Anaconda Navigator, create a new environment with Python 3.11. The install OpenJDK and PySpark libraries. You can either use Anaconda Navigator or use following commands in terminal.

* For OpenJDK: `conda install openjdk`
* For PySpark: `conda install pyspark`

Then test your installation by running followin code blocks.

In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [6]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("Testing PySpark Example").getOrCreate()

In [7]:
sample_data = [{"name": "John    D.", "age": 30},
  {"name": "Alice   G.", "age": 25},
  {"name": "Bob  T.", "age": 35},
  {"name": "Eve   A.", "age": 28}]

df = spark.createDataFrame(sample_data)

In [8]:
df.show()

+---+----------+
|age|      name|
+---+----------+
| 30|John    D.|
| 25|Alice   G.|
| 35|   Bob  T.|
| 28|  Eve   A.|
+---+----------+